// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
	max-width: 300px;
	max-height: 150px;
}

h1 {
	font-family: 'Alegreya', serif;
	font-size: 4em;
}

h2 {
	font-family: 'Alegreya', serif;
	font-size: 1.3em;
	text-align: center;
}

#header, #footer {
	width: 100%;
	background-color: #dddddd;
}

#footer {
	padding-top: 2%;
	padding-bottom: 2%;
}

#footer tr td {
	font-weight: bold;
	width: 25%;
}

#enter_url {
	text-align: center;
}

#result {
	border: 1px solid;
	background-color: #eeeeee;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}