<%= form_for :url, :html => { :id => "enter_url", :onsubmit=>"submitted(); return false;" } do |f| %>
	<br><br>Enter URL: <br><br><%= f.text_field :url %><br><br>
	<%= f.submit "Generate!" %>
<% end %>
<br><br><br>
<h2 id="result">Results will go here.</h2>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>