<h2>Reports</h2>

<% @reports.each do |report| %>
	<% doc = Nokogiri::HTML(open(report.url)) %>
	<strong><%= doc.at_css("h1").text %></strong><br><br>
	<%= doc.at_css("p").text %><br><br>

<% end %>

<br><br>

<%= link_to "Add New Report", new_report_path %>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>