<table id="header">
	<tr>
		<td>
			<img id="logo" src="http://hd.wallpaperswide.com/thumbs/paper_moon-t2.jpg">
		</td>
		<td>
		<h1>Paper Moon</h1>
		</td>
	</tr>
</table>

<h2 id="subhead">Routine Document Generation Made Easy</h2>

<%= form_for :url do |f| %>
	URL: <%= f.text_field :url %>
	<%= f.submit "GO!" %>
<% end %>