<!DOCTYPE html>
<html>
<head>
  <title>Paper Moon - Document Generator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
